.title {
    display: flex;
    flex-direction: column;
}
.title h2 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 4px;
    line-height: 50px;
}
.title h3 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: var(--accent);
}